<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    <li id="logo"><a href="">FG</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  </ul>
</header>

<!-- Aqui va todo el contenido de la web -->
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Proyecto de Investigacion, Francisco Gamboa &copy;
</footer>